@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.home {
  background: linear-gradient(to left, #264653, #2a9d8f, #e9c46a, #e76f51);
}

.Typewriter {
  display: inline-block;
}

.tech {
  flex: 0 0 0 6rem;
  width: calc(5rem + (14 - 4) * ((100vw - 200px) / (1440 - 200)));
  height: calc(5rem + (14 - 4) * ((100vw - 200px) / (1440 - 200)));
}

@media screen and (max-width: 768px) {
  .home {
    background: linear-gradient(to bottom, #264653, #2a9d8f, #e9c46a, #e76f51);
  }
}

.nav-link:hover,
.logo:hover {
  text-shadow: 0 0 5px rgba(242, 242, 242, 0.3);
  cursor: pointer;
}

.hover-underline-animation {
  position: relative;
  color: #ffffff;
  text-decoration: none;
}

.hover-underline-animation::after {
  @apply bg-white;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link-dark:hover,
.logo-dark:hover {
  text-shadow: 0 0 5px hsla(197, 37%, 24%, 5%);
  cursor: pointer;
}

.hover-underline-animation-dark {
  @apply text-blue-700;
  position: relative;
  text-decoration: none;
}

.hover-underline-animation-dark::after {
  @apply bg-blue-700;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.hover-underline-animation-dark:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.content--background {
  background: hsla(0, 0%, 98%, 75%);
}
