@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  height: 100vh;
  min-height: -webkit-fill-available;
} */

html,
body {
  min-width: 100vw;
  min-height: 100vh;
	@apply bg-white
}

/* #__next {
  @apply w-screen
} */

.nav-link {
  @apply hover:font-bold hover:underline hover:underline-offset-4 hover:decoration-2
}

.nav-link:hover {
  text-shadow: 0 0 5px rgba(242,242,242,.3)
}

.name {
  display: block;
}

.hero {
  background: -webkit-linear-gradient(left, #264653, #2a9d8f, #e9c46a, #e76f51 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}